.App {
  display: flex;
  justify-content:space-between;
  align-content: center;
  flex-direction: column;
}

.contentOption{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 80px;  
}

.itens{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.enable {
  font-size:24px;
  font-weight: bold;
  color:#fff;
  margin-right:15px
}

.unable{
  font-size:24px;
  font-weight: bold;
  color:#8b8b8b;
  margin-right:15px
}