.App {
  display: flex;
  justify-content:space-between;
  align-content: center;
  flex-direction: column;
}

.content_image{
  display: flex;
  justify-content:center;
  align-content: center;
  width: 100%;
  margin-top: 10%;
}


.content_image img{
  height: 80px;
}

.container {
  
  margin-top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 45px;
}


.details{
  display: flex;
}

.item{
  margin-top: 10px;

  background:#FFFFFF;
  width: 60%;
  border-radius: 5px;
  padding: 15px;

  display: flex;
  justify-content:space-between;
  align-items: center;

  transition: width 1s;

  cursor: pointer;
}

.item:hover {
  
  width: 62%;
}

.item_details{
  display: flex;
}

.item_text {
  margin-left: 15px ;
}

.perfil {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

.paginate {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-bottom: 45px;
}


.paginate button {
  width: 56px;
  height: 56px;
  background: #fff;
  border-radius: 5px;

  margin-left:10px;
  border: 0;

  font-weight: bold;
  font-size: 18px;

  cursor: pointer;

  transition: background 1s, width 1s, height 1s;
}

.paginate button:hover {
  background: #e9e9e9;
  width: 50px;
  height: 50px;
}

.container_search {
  margin-top: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 45px;
}

.content_search {
   display:flex;
   width: 50%;
   justify-content: center;
   align-items: center;
   margin-bottom: 15px;
   
   flex-direction: column;
}

.container_search input {
  background:#fff;
  border:0;
  color:black;
  font-weight: bold;

  padding:2px;
  width: 100%;
  height: 72px;

  border-radius: 10px;
  margin-bottom: 10px;
}

.content_search input:focus {
  outline: none;
}

.content_search button {
  background:#04D361;
  border:0;
  color:white;
  font-weight: bold;

  
  height: 73px;
  
  width:100%;
  cursor:pointer;

  border-radius: 10px;
  padding: 15px;
}

.container_filter {
  display: flex;
  margin-bottom:10px;
  width: 50%;
}


.container_filter select {
  
  outline: none ;
  border:0;
  background-color:white;
  border-radius:5px;
  height:72px;
  width: 100%;
}

.selectFilter{
  width: 100%;
  outline: none;
  height: 76px;
  border: 1 #04D361;
  background: white;

  border-radius:10px;
  margin-bottom: 10px;
}

.text_red{
  color: red;
}